// Colors : -----------------------------------
$maincolor : #112023 ;
$main2color : #1a4c57 ;
$color__buttons :#43FF79;
$color__buttons2 :#45F0D7 ; 
//---------------------------------------------


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'poppins', sans-serif;
}

body{
    overflow-x: hidden;
    background-color: $maincolor;
}

header{
    display: flex;
    justify-content: center;
}

.my__nav{
    display: flex;
    align-items: center;
    background-color: $main2color;
    position: fixed;
    flex-direction: column;
    width: 26rem;
    height: 100vh;
    transform: translateX(-85%);
    list-style: none;
    gap: 5rem;
    padding-top: 3rem;
    top: 0; /* 38 px */
    left: 0;
    transition: 200ms;
}

.my__nav.show{
    transform: translateX(0);
}

.menu__logo{
    display: flex;
    justify-content: space-around;
}

.LOGO{
    font-size: 3rem;
    color: white;
}

.link{
    width: 100%;
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
    &:hover{
        color: whitesmoke;
    }
}



.form__add{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem;
    width: 60%;
}

.input{
    padding: 1rem;
    width: 60%;
}

.sect1{
    display: flex;
    justify-content: center;
}

%flex_row{
    display: flex;
    flex-direction: row;
}

%table{
    gap: 1rem;
    padding: 1rem 5rem;
    font-size: 1.7rem;
    margin: 0 auto;
}

.sect2{
    display: flex;
    justify-content: center;
    border-radius: 6%;
    margin-top: 3rem;
    width: 60%;
    margin: 0 auto;
    .group1{
        display: flex;
        flex-direction: column;
        .s__group1{
            @extend %flex_row;
            background-color: $maincolor;
        }
        .s__group2{
            @extend %flex_row;
            background-color: $main2color;
            width: 112%;
            border-radius: 5px;
            margin: 3px;
        }
    }
}

.edit__delete{
    margin-top: 5px;
}

.img_marg{
    margin-left: 1rem;
}

.table__a{
    @extend %table;
    color: rgba(255, 255, 255, 0.767);
}

.table__n{
    @extend %table;
    color: white;
}

.btn__form1{
	border: none;
	border-radius: 0.6rem;
	padding: 1rem 2rem;
	font-size: 1.5rem;
	background-color: $main2color;
	color: white;
	margin-top: 2rem;
	transition: transform 330ms linear , background 330ms linear;
    &:hover{
        background-color: white;
        color: black;
        transform: scale(1.1);
    }
}

.hmb__menu{
	background-color: transparent;
	border: 0;
	color: white;
	font-size: 20px;
	cursor: pointer;
    margin-left: 26rem;
    &:focus{
        outline: none;
    }
}

.Dashboard{
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
}

.copyright{
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 25rem;
}

.icons{
    width: 3rem;
    height: 3rem;
    margin-left: 26rem;
}
