@import "normal-mixins.scss";
@import "media-queries.scss";


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
    
main {
    width: 100%;
    height: 100%;
    @include flex-row();

    .info-side {
        width: 50%;
        height: 100vh;
        @include flex-column();
        @include center();
        justify-content: space-around;
        background-color: #112023;
        //media queries for responsive design.
        @include sm {
            width: 40%;
        }

        h1 {
            @include font(700, 40px, poppins);
            color: white;
            //media queries for responsive design.
            @include md {
                @include font(700, 35px, poppins);
                margin-top: 20px;
            }
        }
        .elem1 {
            @include flex-column();
            @include center();
            p {
                width: 500px;
                @include font(300, 16px, poppins);
                color: white;
                text-align: center;
                //media queries for responsive design.
                @include md {
                    width: 400px;
                    @include font(300, 15px, poppins);
                }
                @include breakpoint(900px) {
                    width: 350px;
                }
                @include sm {
                    width: 300px;
                }
            }
            img {
                width: 400px;
                height: 330px;
                margin-top: 20px;
                //media queries for responsive design.
                @include md {
                    width: 350px;
                    height:300px;
                    margin-top: 30px;
                }
                @include breakpoint(900px) {
                    width: 300px;
                    height:270px;
                }
                @include sm {
                    width: 250px;
                    height: 220px;
                }

            }
        }

        .keys {
            @include flex-row();

            i {
                @include flex-column();
                @include center();
                width: 50px;
                height: 50px;
                background:#1A4C57;
                font-size: 22px;
                color: white;
                border-radius: 100px;
                margin: 0 20px;
                cursor: pointer;
                transition:background 500ms linear;

                &:hover {
                    background:linear-gradient(to right, #2FA788, #43FF79);
                }
            }
        }
    }
    

    .second-side {
        width: 50%;
        @include flex-column();
        @include center();
        background: url(../images/bg.jpg) center no-repeat;
        background-size: cover;
        //media queries for responsive design.
        @include sm {
            width: 60%;
        }

        .form-side {
            width: 70%;
            height: 90%;
            @include flex-column();
            @include center();
            justify-content: space-evenly;
            background:rgba(255, 255, 255, 0.15);
            backdrop-filter: blur(10px);
            border: 1px solid #1120234d;
            border-radius: 40px;
            
            h2 {
                 @include font(700, 35px, poppins);
                 color: white;
            }
            .accounts {
                width:300px;
                @include flex-row();
                @include center();
                justify-content: space-around;


                div {
                    @include flex-row();
                    @include center();
                    background-color: rgba(255, 255, 255, 0.5);
                    border-radius: 10px;
                    width: 60px;
                    height: 60px;
                    cursor: pointer;

                    img {
                        width: 35px;
                        height: 35px;
                        margin: auto;
                    }
                }
            }
            .or-email {
                @include font(300, 12px, poppins);
                color: white;
                position: relative;

                &::before {
                    content: " ";
                    height: 1px;
                    width: 110px;
                    position:absolute;
                    top: 50%;
                    left: -120%;
                    transform: translateY(-50%);
                    background-color:#3e4f53;
                    border: 1px solid #3e4f53;
                    border-radius: 5px;
                }
                &::after {
                    content: " ";
                    height: 1px;
                    width: 110px;
                    position:absolute;
                    top: 50%;
                    right: -120%;
                    transform: translateY(-50%);
                    background-color:#3e4f53;
                    border: 1px solid #3e4f53;
                    border-radius: 5px;
                }
            }
            form {
                width: 100%;
                @include flex-column();
                @include center();
                margin-top: -20px;

                
                &>input, &>label {
                    width: 80%;
                    height: 50px;
                    color: #081113;

                }
                &>label {
                    @include font(500, 18px, roboto);
                    padding-top: 15px;
                }
                input {
                    @include font(500, 14px, roboto);
                    outline: none;
                    margin-bottom: 10px;
                    padding: 10px;
                    border: none;
                    border-radius: 8px;
                }

                .form-check-pass {
                    width: 80%;
                    @include flex-row();
                    justify-content: space-between;
                    margin-bottom: 10px;
                    padding: 5px 10px 10px;
                    
                    div {
                        
                        label {
                            @include font(500, 14px, roboto);
                            color: #081113;
                         }
                    }

                    a {
                        @include font(500, 12px, poppins);
                        color: #43FF79;
                        text-decoration: none;
                        text-emphasis-position: right;
                        &:hover {
                            text-decoration: underline;

                        }
                    }
                }
                input[type="submit"] {
                    background:rgba($color: #112023, $alpha: 0.7);
                    @include font(400, 20px, roboto);
                    color: white;
                    cursor: pointer;
                    transition:background 300ms linear;
                    &:hover {
                        background:rgba($color: #112023, $alpha: 0.9);
                    }
                }
            }
            .cpy {
                @include font(300, 16px, poppins);
                color: white;
            }
         }
    }
}


@media screen and (max-width:1000px) {
    .info-side {
        width: 50%;

        h1 {
            @include font(700, 20px, poppins);
        }
        .elem1 {
            p {
                width: 400px;
                @include font(300, 15px, poppins);
            }
            img {
                width: 300px;
                height: 290px;
                margin-top: 20px;
            }
        }

        .keys {
            i {
                width: 50px;
                height: 50px;
                font-size: 22px;
                margin: 0 20px;
            }
        }
    }
}