* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .info-side {
  width: 50%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #112023;
}

@media (max-width: 768px) {
  main .info-side {
    width: 40%;
  }
}

main .info-side h1 {
  font: 700 40px poppins;
  color: white;
}

@media (max-width: 1024px) {
  main .info-side h1 {
    font: 700 35px poppins;
    margin-top: 20px;
  }
}

main .info-side .elem1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .info-side .elem1 p {
  width: 500px;
  font: 300 16px poppins;
  color: white;
  text-align: center;
}

@media (max-width: 1024px) {
  main .info-side .elem1 p {
    width: 400px;
    font: 300 15px poppins;
  }
}

@media (max-width: 900px) {
  main .info-side .elem1 p {
    width: 350px;
  }
}

@media (max-width: 768px) {
  main .info-side .elem1 p {
    width: 300px;
  }
}

main .info-side .elem1 img {
  width: 400px;
  height: 330px;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  main .info-side .elem1 img {
    width: 350px;
    height: 300px;
    margin-top: 30px;
  }
}

@media (max-width: 900px) {
  main .info-side .elem1 img {
    width: 300px;
    height: 270px;
  }
}

@media (max-width: 768px) {
  main .info-side .elem1 img {
    width: 250px;
    height: 220px;
  }
}

main .info-side .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .info-side .keys i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background: #1A4C57;
  font-size: 22px;
  color: white;
  border-radius: 100px;
  margin: 0 20px;
  cursor: pointer;
  -webkit-transition: background 500ms linear;
  transition: background 500ms linear;
}

main .info-side .keys i:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2FA788), to(#43FF79));
  background: linear-gradient(to right, #2FA788, #43FF79);
}

main .second-side {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/bg.jpg) center no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  main .second-side {
    width: 60%;
  }
}

main .second-side .form-side {
  width: 70%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.15);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid #1120234d;
  border-radius: 40px;
}

main .second-side .form-side h2 {
  font: 700 35px poppins;
  color: white;
}

main .second-side .form-side .accounts {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .second-side .form-side .accounts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

main .second-side .form-side .accounts div img {
  width: 35px;
  height: 35px;
  margin: auto;
}

main .second-side .form-side .or-email {
  font: 300 12px poppins;
  color: white;
  position: relative;
}

main .second-side .form-side .or-email::before {
  content: " ";
  height: 1px;
  width: 110px;
  position: absolute;
  top: 50%;
  left: -120%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #3e4f53;
  border: 1px solid #3e4f53;
  border-radius: 5px;
}

main .second-side .form-side .or-email::after {
  content: " ";
  height: 1px;
  width: 110px;
  position: absolute;
  top: 50%;
  right: -120%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #3e4f53;
  border: 1px solid #3e4f53;
  border-radius: 5px;
}

main .second-side .form-side form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
}

main .second-side .form-side form > input, main .second-side .form-side form > label {
  width: 80%;
  height: 50px;
  color: #081113;
}

main .second-side .form-side form > label {
  font: 500 18px roboto;
  padding-top: 15px;
}

main .second-side .form-side form input {
  font: 500 14px roboto;
  outline: none;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

main .second-side .form-side form .form-check-pass {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 10px 10px;
}

main .second-side .form-side form .form-check-pass div label {
  font: 500 14px roboto;
  color: #081113;
}

main .second-side .form-side form .form-check-pass a {
  font: 500 12px poppins;
  color: #43FF79;
  text-decoration: none;
  -webkit-text-emphasis-position: ;
          text-emphasis-position: right;
}

main .second-side .form-side form .form-check-pass a:hover {
  text-decoration: underline;
}

main .second-side .form-side form input[type="submit"] {
  background: rgba(17, 32, 35, 0.7);
  font: 400 20px roboto;
  color: white;
  cursor: pointer;
  -webkit-transition: background 300ms linear;
  transition: background 300ms linear;
}

main .second-side .form-side form input[type="submit"]:hover {
  background: rgba(17, 32, 35, 0.9);
}

main .second-side .form-side .cpy {
  font: 300 16px poppins;
  color: white;
}

@media screen and (max-width: 1000px) {
  .info-side {
    width: 50%;
  }
  .info-side h1 {
    font: 700 20px poppins;
  }
  .info-side .elem1 p {
    width: 400px;
    font: 300 15px poppins;
  }
  .info-side .elem1 img {
    width: 300px;
    height: 290px;
    margin-top: 20px;
  }
  .info-side .keys i {
    width: 50px;
    height: 50px;
    font-size: 22px;
    margin: 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */